.GoBackLink {
    width: 100%;
    text-align: left;
    margin-top: 0.5rem;
    background-color: var(--light-grey);
}

.GoBackLink a {
    color: var(--light-grey-text);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.GoBackLink i {
    margin-right: 0.5rem;
}
